@import 'utilities/variables';
@import 'utilities/mixins';

@import 'animations/animations';
@import 'base/fonts';
@import 'base/typography';
@import 'layout/common';
@import 'components/buttons';


// 
// GLOBAL SCSS (TOUCHSCREEN + DISPLAY)
// 

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  user-select: none;

  // TODO: DEV
  // outline: 1px dashed rgba($color: #ff0000, $alpha: 0.5);
  outline-offset: -1px;
}

body {
  color: $w;
  background-color: $app-bg;

  .dev-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0%;
  }

  .dev-state-title {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0%;
  }
}


// 
// TOUCHSCREEN SCSS
// 

.touchscreen-state {
  display: none;
}

#touch-overlay {
  position: absolute;
  display: block;
  background-color: $positive;
  width: 100vw;
  height: 100vh;
  opacity: 50%;
  z-index: 10;
}

#touch-attract-state {
  width: 100vw;
  height: 100vh;

  #attract-title {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    font-size: 4.5rem;
    text-align: center;
    color: $attract-text;

  }

  #language-buttons {
    position: absolute;
    display: flex;
    top: 55%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    column-gap: 30px;
    
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $btn-bg;
      width: 125px;
      height: 125px;
      font-size: 2rem;
      animation: pulse-overlay 3.5s ease-in-out infinite;

      &.active {
        background-color: $color-main;
      }
    }
  }

  #background-elements {
    #bg-element-yellow {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 372px;
      height: 769px;
      background: url('/images/bg/blob-yellow.svg');
      z-index: -1;
    }

    #bg-element-blue {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 806px;
      height: 351px;
      background: url('/images/bg/blob-blue.svg');
      z-index: -1;
    }

    #bg-element-red {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 952px;
      height: 298px;
      background: url('/images/bg/blob-red.svg');
      z-index: -1;
    }
  }
}

#touch-legal-state {
  #content {
    text-align: center;

    #title {
      position: relative;
      top: 10rem;

      h2 {
        font-size: 5.6rem;
      }

      h3 {
        font-size: 3.1rem;
      }

    }

    #body-text {
      position: relative;
      top: 28rem;
      font-weight: lighter;
      line-height: 1.5rem;
      margin: 0 auto;

      p {
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }

    #confirm-application-button {
      position: absolute;
      display: flex;
      bottom: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;

      width: 700px;
      height: 65px;
      align-items: center;
      justify-content: center;
      background-color: $color-main;

      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

#touch-photograph-state {
  @include header-style;

  #content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  #column-left,
  #column-right {
    width: 30%;
    height: 900px;
    background-color: $btn-bg;
    margin: 20px;

    p {
      padding: 40px;
      text-align: center;
      font-size: 1.7rem;
    }
  }

  #column-right {
    margin-right: 40px;
    opacity: 0;
  }

  #column-left {
    margin-left: 40px;
  }

  #photo-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 795px;
    background-color: $btn-bg;
    margin: 20px;

    #photo-flash {
      position: absolute;
      width: 704px;
      height: 795px;
      z-index: 30;
    }

    p {
      font-size: 15rem;
      font-weight: bold;
    }

    #photo-preview {
      margin-top: 2px;

      #photo-overlay {
        position: absolute;
        top: 140px;
        left: 608px;
        width: 704px;
        height: 795px;
        border: 20px solid $btn-bg;
        background-image: url('/images/preview/photo-preview-03.png');
        z-index: 1;
      }

      video {
        width: 704px;
        height: 795px;
        // opacity: 75%;
      }

      #photo-preview-capture {
        position: absolute;
        width: 704px;
        height: 795px;
        top: 140px;
        left: 608px;
        // z-index: 0;
      }
    }

    #countdown {
      position: absolute;
      z-index: 20;
    }
  }

  #take-photo-button {
    position: absolute;
    display: flex;
    bottom: 40px;
    height: 65px;
    width: calc(40% - 65px);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $color-main;
  }

  #continue-photo-button {
    position: absolute;
    display: flex;
    bottom: 40px;
    height: 65px;
    width: calc(20% - 53px);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: -373px;
    margin: 0 auto;
    background-color: $positive;
  }

  #retake-photo-button {
    position: absolute;
    display: flex;
    bottom: 40px;
    height: 65px;
    width: calc(20% - 53px);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: -373px;
    right: 0;
    margin: 0 auto;
    background-color: $negative;
  }
}

#touch-discover-state {
  @include header-style;

  #content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  #column-left,
  #column-right {
    width: 30%;
    height: 900px;
    background-color: $btn-bg;
    margin: 20px;

    p {
      padding: 40px;
      text-align: center;
      font-size: 1.7rem;
    }
  }

  #column-right {
    margin-right: 40px;
    opacity: 0;

    &.active {
      animation: fade-in 1s ease;
      animation-fill-mode: forwards;
    }

    #finish-application-button {
      width: 528px;
      height: 65px;
      position: absolute;
      display: flex;
      bottom: 40px;
      height: 65px;
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      background-color: $color-main;
    }
  }

  #column-left {
    margin-left: 40px;

    #allow-usage-button {
      width: 528px;
      height: 65px;
      position: absolute;
      display: flex;
      bottom: 40px;
      height: 65px;
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      background-color: $color-main;
    }
  }

  #photo-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 795px;
    background-color: $color-main;
    margin: 20px;

    #markers {
      position: absolute;
      width: 704px;
      height: 795px;
      border: 20px solid $btn-bg;
      z-index: 10;

      .marker {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: pulse 8s infinite;
        border: none;
        transition: all 0.3s ease;
      }

      .active {
        background-color: $w;
        opacity: 50%;
        transition: all 0.4s ease;
      }
    }

    #painting,
    #photo-overlay,
    #get-photo-overlay {
      position: absolute;
      width: 704px;
      height: 795px;
      border: 20px solid $btn-bg;
      background-size: cover;
    }

    #photo-overlay {
      z-index: 1;
      background-image: url('/images/input/image-02-mask-cut.png');
    }

    #get-photo-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $btn-bg;
      opacity: 0;

      #qr-code {
        width: 500px;
        height: 500px;
        background-image: url('/images/qr/wip-qr.svg');
      }

      &.active {
        opacity: 1;
      }
    }

    #generated-image {
      position: relative;
      top: -214px;
      left: -111px;
      width: 40%;
      height: 40%;
      background-size: cover;
    }

    #photo-loader {
      position: absolute;
      width: 704px;
      height: 795px;
      border: 20px solid $btn-bg;
      background-image: url('/images/input/photo-preview-load-02.png');
      background-size: cover;
      opacity: 100%;
      z-index: 2;
    }

    .pulse-overlay {
      animation: pulse-overlay 3s infinite ease;
    }

    .fade-out {
      animation: fade-out 1s ease;
      animation-fill-mode: forwards;
    }
  }

  #take-photo-button {
    position: absolute;
    display: flex;
    bottom: 40px;
    height: 65px;
    width: calc(40% - 65px);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $color-main;
  }

  #discover-buttons {

    #get-photo-button,
    #delete-photo-button {
      position: absolute;
      display: flex;
      bottom: 40px;
      height: 65px;
      width: calc(20% - 53px);
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }

    #get-photo-button {
      left: 0;
      right: -373px;
      background-color: $disabled;

      &.enabled {
        background-color: $positive;
      }

      &.active {
        width: 36.6%;
        right: 1px;
        z-index: 1;
      }
    }

    #delete-photo-button {
      left: -373px;
      right: 0;
      background-color: $disabled;

      &.enabled {
        background-color: $negative;
      }
    }
  }
}

.info-overlay, .language-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.info-overlay-text, .language-overlay-text {
  color: $w;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


// 
// DISPLAY SCSS
// 

#display {

  #display-attract-screen {

    #large-frame-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 466px;
      height: 699px;
      background: url('/images/bg/display-blobs.svg');
      background-color: $app-bg;
      text-align: center;
      color: $attract-text;
      z-index: 1;

      h1 {
        margin-top: 7rem;
        letter-spacing: 0.1rem;
      }

      h2 {
        font-size: 1.55rem;
        line-height: 2rem;
        letter-spacing: 0.05rem;
        font-weight: normal;
        margin-top: 0.25rem;
      }

      p {
        font-size: 1.1rem;
        margin: 2rem;
        margin-top: 18.5rem;
      }
    }

    .fade-out {
      animation: fade-out 2s ease-in-out;
      animation-fill-mode: forwards;
    }

    #small-frames-container {

      .small-frames {
        position: absolute;
        width: 250px;
        height: 335px;
        object-fit: cover;
        transition: opacity 1500ms ease-in-out;
        opacity: 0;
      }

      #small-frame-1 {
        left: 290px;
        top: 155px;
      }

      #small-frame-2 {
        left: 290px;
        top: 595px;
      }

      #small-frame-3 {
        left: 1378px;
        top: 155px;
      }

      #small-frame-4 {
        left: 1378px;
        top: 595px;
      }
    }


  }

  .fade-out {
    animation: fade-out 2s ease-in-out;
    animation-fill-mode: forwards;
  }

  #display-mockup-background {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/images/bg/mockup-display.png');
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #generated-image,
  #display-artwork {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #generated-image {
    position: absolute;
    left: 886px;
    top: 341px;
    width: 198px;
    z-index: -1;
  }

  #display-artwork {
    width: 466px;
    height: 699px;
    background: url('/images/input/image-02.png');
    background-size: cover;
  }

  #marker-data-container {
    p {
      font-size: 1.5rem;
      color: rgb(54, 24, 4);
      text-align: center;
    }

    .marker-element {
      width: 250px;
      height: 335px;
      opacity: 0;
    }

    .marker-element.show {
      animation: fade-in 0.3s ease-in forwards;
    }

    #marker-title {
      position: absolute;
      left: 290px;
      top: 155px;
      font-size: 2rem;
      font-weight: bold;
    }

    #marker-desc {
      position: absolute;
      left: 290px;
      top: 595px;
    }

    #marker-image {
      position: absolute;
      left: 1378px;
      top: 155px;
    }

    #marker-x {
      position: absolute;
      left: 1378px;
      top: 155px;
    }

    #marker-y {
      position: absolute;
      left: 1378px;
      top: 155px;
    }
  }

}