* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Set a default font family */
body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #202124;
  color: #e8e8e8;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

#staticImage {
  position: absolute;
  width: 512px;
  height: 768px;
}

#generatedImage {
  width: 512px;
  height: 768px;
  background-color: #e8e8e8;
}

#show-models-button,
#generate-txt2img-button,
#generate-img2img-button,
#load-model-button,
#send-button,
#delete-button {
  width: 253px;
  height: 40px;
  color: white;
  font-weight: bold;
  margin-top: 6px;
}

#show-models-button {
  background-color: #c77313;
}

#generate-txt2img-button,
#generate-img2img-button {
  background-color: #3aa23a;
}


#load-model-button {
  background-color: #2d71c0;
}

#send-button, #delete-button {
  background-color: rgb(225, 65, 65);
}


#loader-container {
  position: absolute;
  z-index: 10;
  opacity: 0;
}

#loader-container.show {
  opacity: 1;
}

#loader h2 {
  text-align: center;
  color: #e8e8e8;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 512px;
  height: 768px;
  background: linear-gradient(-45deg, #00000000, #000000);
  background-size: 500% 500%;
  animation: gradient 2500ms ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}