$animation-speed: 250ms;

$dev-bg: #250000;

$b: #000;
$w: #FFF;

$color-main: #0F62FE;
$app-bg: #050F19;
$btn-bg: #002E66;

$positive: #9acd32;
$negative: #ff4747;
$disabled: #646464;

$attract-text: #e5dfcf;

$color-button-text: $w;
